.admin {
  width: min(80%, 1600px);
  margin: 5rem auto;
  &__content {
    .items {
      margin: 5rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}
