@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=IBM+Plex+Mono:wght@300;400&family=Inter:wght@300&family=Ubuntu+Mono&display=swap");

// colors
$accent-color-red: #e40c2b;
$accent-color-blue: #3cbcc3;
$accent-color-green: #438945;
$accent-color-yellow: #eba63f;
$accent-color-grey: #b2beb5;
$color-grey-300: #f7f4e9;
$color-grey-900: #1d1d2c;

// fonts
$text: "IBM Plex Mono", monospace;
$heading: "Poppins", sans-serif;
$special: "Inter", sans-serif;

// spacing
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;
